
#header-img{
    width: 20%;
    height: auto;
    float: left;
}

.nav-link{
    float: right;
    margin-right: 50px; 
}

h2 {
    font-size: medium;  
    text-align: center;
    position: relative;
    margin: auto;  
}